<div class="page_header">
  <p> Share your book and location. </p>
</div>

<p><a class="btn btn-lg btn-default" href=/ role="button">Share</a></p>
<p><a class="btn btn-lg btn-default" href=book role="button">Start Over</a></p>
