<%= render "shared/icons" %>

<div class="page_header">
  <p> Share your reading geography. </p><br>
  <%= render "shared/twitter" %>
  <p><a class="btn btn-lg btn-default" href="/books/index" role="button">See Past Books</a></p><br>
  <p><%= link_to "Add a Book", new_book_path, class: "btn btn-lg btn-default" %></p><br>
</div>
