<p><a class="btn btn-lg btn-default" id="left-menu" href="#left-menu">Menu</a></p>
<div id="sidr">
  <p>MAP MY READS<p><br>
    <a href="/books">Reading History</a></br>
    <a href="/books/new">Add New Book</a></br>
    <a href="/locations">Find a Library</a></br>
    <a href="/about">About</a></br><br>
    <a href="/signout">Log Out</a>
  </div>

  <script>
  $(document).ready(function() {
    $('#left-menu').sidr();
  });
  </script>
