<div class="page_header">
  <p> This is step one. Choose a book! </p>
</div>

<%= form_tag location_path, method: :get do %>
<%= text_field_tag :book %>
<%= submit_tag "Next -->", class: "btn btn-lg btn-default" %>
<% end %>
