<div class="main_header">
  <h1>Read With Me?</h1>
  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
</div>

<div class="section_header">
</br><p> Hi, <%= @current_user.name %>. Here's what you've read:</p>
<%= render "filter" %>
  <% @books.each do |book| %>
  <div class="book" data-city="<%= book.city %>">
    <h3><%= book.title %></h3>
  </div>
<% end %>
