<div class="page_header">
  <h1>These are My Past Books</h1>

    <% @books.each do |book| %>
        <%= book.title %></br>
    <% end %>

</div>

<p><%= link_to "Start Over", new_book_path, class: "btn btn-lg btn-default" %></p>
