<div class="page_header">
  <h1>My Reading History</h1></br>

    <% @books.each do |book| %>
        <%= book.title %></br>
        <%= book.city %></br></br>
    <% end %>

</div>

<p><%= link_to "Start Over", new_book_path, class: "btn btn-lg btn-default" %></p>
