<div class="page_header">
  <p> What book are you reading? </p>

  <%= form_tag location_path, method: :get do %>
  <%= text_field_tag :book %>
  <%= submit_tag "Next -->", class: "btn btn-lg btn-default" %>
  <% end %>

</div>
