<div class="main_header">
  <h1>Read With Me?</h1>
</div>
<p>A platform for chronicling the geography of your reading.</p>

<div class="section_header">
<%= render "filter" %>
  <% @books.each do |book| %>
  <div class="book" data-city="<%= book.city %>">
    <h3><%= book.title %></h3>
  </div>
<% end %>
