<%= render "shared/icons" %>

<p>Travel often? Do you read a lot?</p>
<p>Chronicle the geography of your reading.</p>
<p>Keep track of what you read where.</p><br>
<p>Brought to you by <a href="http://www.twitter.com/sarambsimon">this bookworm</a>.</p>
