<div class="about_header">
  <h1>Read With Me?</h1></br>
  <p>Read a lot? Travel often?</p>
  <p>Want to keep track of what you read where?</p>
  <p>Read With Me chronicles the geography of your reading.</p></br>
  <p>Brought to you by <a href="http://www.twitter.com/sarambsimon">this bookworm</a>.</p>
</div>
