/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'jquery.sidr.dark';

.homepage_header {
  font-family: "Courier New";
  text-align: center;
  letter-spacing: 0.5em;
  padding-top: 2.5cm;
  font-size: 175%;
}

.main_header {
  font-family: "Courier New";
  text-align: center;
  letter-spacing: 0.4em;
  padding-top: 1cm;
  padding-bottom: 2em;
}

#tagline {
  letter-spacing: 0.2em;
  font-size: 125%;
  padding-bottom: 2em;
}

.page_header {
  font-family: "Courier New";
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 1.5cm;
  padding-bottom: 0.8cm;
}

.section_header {
  font-family: "Courier New";
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 1.5cm;
}

.about_header {
  font-family: "Courier New";
  text-align: center;
  padding-top: 1.5cm;
  padding-bottom: 0.1cm;
}

p {
  font-family: "Courier New", monospace;
  font-size: 120%;
  text-align: center;
}

.filter {
  background-color: darken($background-color, 10);
  padding: 1em;
  label {
    font-size: 0.8em;
    &:after {
      content: ': ';
    }
  }
  select, input {
    margin-right: 1em;
  }
}

.sidr {
  padding-top: 0.9cm;
  font-family: "Courier New";
  text-align: center;
  color: white;
}

.menu {
  font-family: "Courier New";
  text-align: center;
}

#map {
  text-align: center;
  padding-top: 0.2cm;
}
