<div class="page_header">
  <p> Where are you reading it? </p>

  <%= form_tag share_path, method: :get do %>
  <%= text_field_tag :location %>
  <%= hidden_field_tag :book, @book %>
  <%= submit_tag "Next -->", class: "btn btn-lg btn-default" %>
  <% end %>

</div>
