<!DOCTYPE html>
<html>
<head>

  <title>Read With Me</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="javascripts/sidr/stylesheets/jquery.sidr.dark.scss">
  <%= javascript_include_tag 'application' %>

</body>
</html>

<%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <% if current_user %>
    <div class="menu">
      <a class="btn btn-lg btn-default" id="left-menu" href="#left-menu">Menu</a>
    </div>

    <div id="sidr">
      <p>READ WITH ME<p>
      <a href="/books">Reading History</a></br>
      <a href="/books/new">Add New Book</a></br>
      <a href="/locations">Find a Library</a></br>
      <a href="/about">About</a></br>
      <a href="/signout">Log Out</a></br>
    </div>

    <script>
    $(document).ready(function() {
      $('#left-menu').sidr();
    });
    </script>


  <% else %>
    <p><a class="btn btn-lg btn-default" href="/auth/twitter" role="button">Log In With Twitter</a></p>
  <% end %>


</body>
</html>
